html,
* {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #F8F6F4;
  text-decoration: none;
  scroll-behavior: smooth;
  color-scheme: ligth only;
}
