.background {
  width: 100%;
  background-repeat: repeat-y;
  min-height: 100vh;
  background: rgb(58, 52, 150);
  background: linear-gradient(
    90deg,
    rgba(58, 52, 150, 1) 0%,
    rgba(9, 9, 121, 1) 55%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.nav {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-content: center;
  background: rgb(58, 52, 150);
  background: linear-gradient(
    90deg,
    rgba(58, 52, 150, 0.9) 0%,
    rgba(0, 0, 238, 0.8) 55%,
    rgba(0, 212, 255, 0.8) 100%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  padding: 1rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ul {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.profileimage {
  background-image: url(/assets/Placeholder.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.welcometitle {
  color: #f8f6f4;
  text-align: center;
  padding-bottom: 10px;
}

.summary {
  width: 50%;
  text-align: justify;
  font-size: 20px;
  padding-right: 15px;
}

.presentationbox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-content: center;
  padding-top: 20px;
  gap: 60px;
}

.projectsbutton {
  display: flex;
  justify-self: center;
  align-self: center;
  padding-top: 20px;
  padding-left: 100px;
}

.container {
  height: 300px;
  width: 600px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
}

.svg {
  fill: #17141d;
  stroke-width: 2px;
}

.footer {
  background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  font-size: 25px;
  bottom: 0;
  position: relative;
}

.footera {
  font-size: 25px;
}

.icons {
  height: 25px;
}
